<div class="book-list-container">


  <mat-list class="list">
    @if (isLoading) {
      <mat-spinner [diameter]="100"

      />
    } @else if (error) {
      <p class="error">{{ error }}</p>
    } @else {
      @for (book of paginatedBooks; track book.work.cover_id) {
        <a [routerLink]="['/book',book.work.cover_id]" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-list-item>
            <span matListItemTitle>{{ book.work.title }}</span>
            <span matListItemLine>{{ book.work.author_names[0] }}</span>
          </mat-list-item>
        </a>
      }
    }
  </mat-list>

  <app-paginator (pageChanged)="onPageChange($event)"/>


</div>
